::-webkit-scrollbar {  
    width: 12px;  
}  
::-webkit-scrollbar-track {  
    background-color: #eaeaea;  
    border-left: 1px solid #ccc;  
}  
::-webkit-scrollbar-thumb { 
    background-color: #ccc;  
}  
::-webkit-scrollbar-thumb:hover {  
    background-color: #aaa;  
}  


body {
	position: absolute;
    top: 0; 
    right: 0; 
    bottom: 0; 
    left: 0;
    margin: 0;
}

svg {
	cursor: pointer;
}

#main {
	position: absolute;
	top: 0; 
	right: 0; 
	bottom: 0; 
	left: 0;
	width: 100%;
	height: 100%;
}

#scheme {
	position: absolute;
	width: 100%;
	height: 100%;
	min-width: 60em;
	min-height: 35em;
}
#popup {
	display: none;
	position: absolute;
	top: 0;
	bottom: 5%;
	right: 5%;
	width: 25%;
	min-width: 20em;
	/*opacity: 0.75;*/
	padding: 20px;
	overflow: auto;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
}
#popup h1 {
	font-family: 'Comic Sans MS';
	text-align: center;
	font-size: 3em;
	color: white;
}
#popup p {
	font-family: 'Comic Sans MS';
	font-size: 1.5em;
	text-align: justify;
}
#popup img {
	height: 200px;
	width: 200px;
	border-radius: 100px;
}